<!DOCTYPE html>
<html>
<head>
  <title>Timeseries</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
</body>
<body class="text-center">
  
  
  <table class="table" id="myTable">
    <thead>
      <tr>
        <th scope="col" >#</th>
        <th scope="col" >Name</th>
        <th scope="col">Origin</th>
        <th scope="col">Destination</th>
      </tr>
    </thead>
    <tbody id ="tableRow">
     
    </tbody>
  </table>

  </body>
  <script>
    const ws = new WebSocket('ws://localhost:3000/');
    ws.onopen = function() {
      console.log('WebSocket Client Connected');
      ws.send('Hi this is web client.');
    };
    ws.onmessage = function(e) {
      let data = JSON.parse(e.data);
     
      if(data && data instanceof Array){
        
        var tbody = '';
        var tableBody = document.getElementById("tableRow");

        for (const [i,iterator] of data.entries()) {
                let sum = +i+1
                tbody +=  "<tr> <td class='td col1'>" + sum +" </td> ";
                tbody +=  "<td class='td col'>" + iterator?.name +" </td> ";
                tbody +=  "<td class='td col'>" + iterator?.origin +" </td> ";
                tbody +=  "<td class='td col1'>" + iterator?.destination +" </td> \
                          </tr>";
               
          }

          tableBody.innerHTML = tbody;
        
      }
    };
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>